

OPENAI_API_KEY=
HUMANLAYER_API_KEY=
HUMANLAYER_API_BASE=

LINEAR_API_KEY=
WEBHOOK_SIGNING_SECRET=

# local
BOUNDARY_PROJECT_ID=
BOUNDARY_SECRET=
LOOPS_API_KEY=

ANTHROPIC_API_KEY=

WEBHOOK_SIGNING_SECRET=
